
/* naviagation menu */
html{
  box-sizing: border-box;
}
body{margin: 0;}
*, *::before, *::after{
  box-sizing:inherit;
  margin: 0;
  padding: 0;
}
nav{
  width:100%;
  background-color: rgb(58, 79, 82);
  padding-left:10px;
  padding-right:10px;
  margin: 0;
}
/* nav links is for the li */
.nav-item a{
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: white;
}
.nav-item:hover{
  background-color: white;
}
.nav-item:hover a{
  color:rgb(54, 77, 86);
}
.navbar{
  display: flex;
  justify-content:flex-end;
  align-items:center;
}
/* nav links is for the ul */
.nav-links{
  display: flex;
  list-style:none;
  object-fit:contain;
}
/*logo img */

.logo{
cursor: pointer;
 vertical-align: middle;
 width:200px;
 height:50px;
 margin-right: auto;
}
/* make the text center*/
h1{
  text-align: center;
  text-shadow: 1px 1px 2px red, 0 0 5px darkblue;
  margin: 15px;
  font-size: 50px;
  margin-top: 30px;
}
/* paragraph*/
.a{
  text-align-last: center;
  margin-right:60px;
  margin-left: 60px;
  font-size: 25px;
  text-shadow: 1px 1px 2px #cadfdd;
}
.b{
  text-align-last: center;
  margin-right:50px;
  margin-left: 50px;
  font-size: 25px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px #cadfdd;
}
/* image figure */
figure{
  margin: 0px;
  border-width:0px;
  position:relative;
  border-width: 1px;
  left:50px; top:50px}
/* to make the image small */

  /* Adress */
  .add{
    float: left;
  }
.add h2{
    position: relative;
    margin-top: 30px;
    margin-left: 400px;
    text-align:left;
    font-style: oblique;
    font-size: 40px;
    }
.add address{
  margin-top: 10px;
  margin-left: 330px;
  text-align:left;
  margin-bottom: 10px;
  font-size: 20px;
}
/*Opening Hours */
.open h2{
  position:relative;
  margin-top: 30px;
  margin-right: 300px;
  text-align: right;
 font-size:40px;
 font-style: oblique;
 }
 .open dd{
  margin-top: 10px;
  margin-right:345px;
  text-align: right;
  font-size: 20px;
 }
  /* Team page */
  .Team h3{
    text-align:center;
    font-size: 50px;
    background-color: #f2f3f5;
    margin-top: 200px;
  }
  .container{
    display:grid; grid-gap:5px; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #f2f3f5;
    margin-bottom: 20px;
  }
  .container img{
    width: 200px;
    height: 200px;
  }
  .Team1{
    grid-row: 3; grid-row:4;
    border-style: 2px solid;
  }
  .Team2{
    grid-column:3; grid-row:4;
    border-style: 15px solid;
  }
  .Team3{
    grid-column:2; grid-row:4;
    border-style: 2px solid;
  }
  .fix{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container h2{
    color: rgb(10, 10, 10);
  }
 
/* docaration of table serives */
caption{
  text-align:center;
  font-size: 50px;
  background-color:rgb(54, 77, 86);
  color:aliceblue;
  margin-top: 200px;
}
table{
  border-collapse: collapse;
  text-align:center;
  background-color: #f2f3f5;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}
td,th{
  text-align: center;
  padding: 20px;
}
tr:nth-child(even) {
  background-color: #D6EEEE;
}
/* footer docaration*/
.footer{
  text-align: right;
  margin-top: 50px;
  margin-bottom: 40px;
  font-style:inherit;
  margin-right: 30px ;
}
* {box-sizing: border-box;}
.mySlides {display:none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 600px;
  position: relative;
  margin: auto;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  
}

.active {
  background-color: #717171;
}

/* Fading animation */





